.filters_container {
    margin-top: 16px;
    border: #D9D9D9 1px solid;
    min-width: 287px;
}

.filters_typography {
    border-bottom: #D9D9D9 1px solid;
    padding: 10px 20px;
}
.filters_title {
    font-weight: 500;
    font-size: 16px;
}

.filters_forms {
    padding: 5px 25px;
}

.filters_rating_title {
    color: rgba(0, 0, 0, 0.6);
}

.filters_form_rating {
    margin-top: 1000px;
    display: flex;
    flex-direction: column;
}