*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}


html body #root {
    display: flex;
    flex-direction: column;
    align-items: center;

}
section{
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    font-family: "Inter", sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
}